<div class="panel panel-default" xmlns:h="http://www.w3.org/1999/html">

    <div class="header-panel text-center">
        <h1>Project: {{project.name}}</h1>
        <h2>{{project.description}}</h2>
    </div>

    <div data-ng-show="manager" class="text-center">
        <button type="button" class="btn btn-default dropdown-toggle" data-ng-click="toggle()">Add developers to project</button>
        <div class="selectpicker" data-ng-show="showOptions">
            <div data-ng-repeat="user in users">
                <label> {{user.firstName}} {{user.lastName}} <input type="checkbox" data-ng-model="selected[$index]"/> </label>
            </div>
            <a class="btn btn-small btn-success" data-ng-click="save()">Save</a>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="item in project.taskList" >
                <td class="col-sm-3" ><a href="developer/project/{{project.id}}/task/{{item.id}}">{{item.name}}</a></td>
                <td class="col-sm-3">{{item.description}}</td>
                <td class="col-sm-3">{{item.taskStatus.name}}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-small btn-success" href="developer/project/{{project.id}}/task-create">Create task</a>
</div>