<div class="panel panel-default" xmlns:h="http://www.w3.org/1999/html">
    <h1>{{project.name}}</h1>


        <div data-ng-click="toggle()">Add developers to project</div>
        <div data-ng-show="showOptions">
            <label data-ng-repeat="user in users">{{user.firstName}} {{user.lastName}}
                <input type="checkbox" data-ng-model="selected[$index]"/><br/>
            </label>
            <a class="btn btn-small btn-success" data-ng-click="save()">Save</a>
        </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Task Name</th>
            <th>Task Description</th>
        </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="item in project.taskList" >
                <td class="col-sm-3" ><a href="developer/project/{{project.id}}/task/{{item.id}}">{{item.name}}</a></td>
                <td class="col-sm-8">{{item.description}}</td>
                <!--<td class="col-sm-8">{{item.status}}</td>-->
            </tr>
        </tbody>
    </table>
    <a class="btn btn-small btn-success" href="developer/project/{{project.id}}/task-create">Create task</a>
</div>